/*-------------------Général---------------------------------------*/
html,body{
    box-sizing: border-box;
    background-color: #181F22;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 0;
    position: relative;
    font-family: "Duru Sans", serif;
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:#FFF;
}
/*----------------------Header--------------------------------------*/
header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 130px;
    position: fixed;
    top:0;
    z-index: 50;
    transition: 0.3s;
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
header .en_tete{
    width: 100%;
    height: 30%;
    background-color: #181F22;
}
header .icon{
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0vh 2vh 0vh 2vh;
}
header #logo{
    border-radius: 10px;
}
header #logo:hover{
    cursor: pointer;
}

header .icon i{
    color: white;
    font-size: 35px;
}
header .icon img{
    width: 80px;
    height: auto;
}
header .navigation{
    display: none;
}
/*----------------------Navigation mobile--------------------------------------*/
div.navigation_mobile{
    position: fixed;
    visibility: hidden;
    transform: translateY(0);
    z-index: 10;
    width: 100%;
    height: auto;
    background-color: #FFFF;
    opacity: 0.8;
    transition: 0.3s;
}
div.navigation_mobile nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
}
div.navigation_mobile nav a {
    color: #000;
}
/*----------------------Main--------------------------------------*/
main{
    background-color: #01ff67;
    height: auto;
    margin-top: 125px;
}
/*----------------------Section hero-------------------------------*/
main section.hero{
    background-image: url("img/trust.webp");
    background-color: rgba(34,53,56, 0.8);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 85vw;
}

main section.hero .hero-content{
    padding: 5vh;
}
main section.hero h1{
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
}

/*---------------------Section apropos------------------------------*/
main section.apropos{
    background-image: linear-gradient(#181F22, #8D9496, #000);
    color:#FFF;
    font-size: 0.9rem;
    line-height: 2.5rem;
    padding: 5vh;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
main section.apropos .apropos-video video{
    width: 100%;
    height: auto;
    border: 2px solid #000000;
    border-radius: 30px;
}
/*-----------------------Section nos services-------------------------*/
 main section.services{
    background-color: #000;
    color: #FFF;
    width: 100%;
    height: auto;
    font-size: 0.9rem;
    line-height: 2.5rem;
    padding: 5vh;
    text-align: center;
}
main section.services .services-details{
    display:grid;
    grid-template-columns: repeat(auto-fit,350px);
    max-width: calc(3 * 400px); /* Limite la largeur totale à 3 colonnes */
    grid-template-rows: auto;
    row-gap: 2vw;
    column-gap: 2vw;
    margin: 0 auto;
}
main section.services .services-details div{
    width: 100%;
    max-width: 350px;
    height: 500px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(34,53,56, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 40%;
    transition: transform 0.5s;
    place-self: center;
}
main section.services .services-details div:hover{
    transform: scale(1.02);
}
main section.services .services-immobilier{
    background-image: url("img/immobilier2.jpg");
    background-blend-mode: multiply;
}
main section.services .services-allocation{
    background-image: url("img/allocation2.jpg");
    background-blend-mode: multiply;
}
main section.services .services-voyage{
    background-image: url("img/assistant\ voyage2.jpg");
    background-blend-mode: multiply;
}
main section.services .services-lourde{
    background-image: url("img/voiture\ lourde2.jpg");
    background-blend-mode: multiply;
}
main section.services .services-demenagement{
    background-image: url("img/demenagement2.jpg");
    background-blend-mode: multiply;
}
main section.services .services-prestation{
    background-image: url("img/prestation\ de\ service2.jpg");
    background-blend-mode: multiply;
}




/*----------------------Footer--------------------------------------*/
footer{
    background-color: yellow;
    width: 100%;
    height: 20px;
}

/*----------------------Pour ordinateur--------------------------------------*/
@media only screen and (min-width: 768px){

    /*header--------------------------------------------------------------------------*/
    header .icon i{
        display: none;
    }
    header .navigation{
        display: flex;
        column-gap: 5vh;
    }
    header .navigation a{
        font-size: 1.3rem;
    }
    header .navigation a:hover{
        color: #b5973dd3;
        opacity: 0.7;
    }
    /*main---------------------------------------------------------------------------------*/
    main section.hero{
        background-image: url("img/ammonside.png");
        background-color: rgba(34,53,56, 0.8);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        color: #ffffff;
        width: 100%;
        height: 30vw;
    }
    main section.hero .hero-content{
        padding: 5vw;
    }
    main section.hero h1{
        text-align: center;
        font-size: 2.7vw;
        line-height: 3.5vw;
    }
    main section.apropos{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 3vw;
        font-size: 1.3vw;
        line-height: 2.2vw;
    }
    main section.apropos .apropos-video{
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: center;
    }
}
